// Theme information in Wordpress:
@use '_themeinfo';

// Including base configuration - you can reference it as config.$value;
@use 'config' as config;

// Bulma as your Base Stylesheet:
@use '../node_modules/bulma/bulma';

// Comment this line if you don't want to use Modular Scale
@use '../node_modules/modularscale-sass/stylesheets/modularscale';

// Start including stylesheets - add more after this:
@use 'typography.scss';
@use 'layout.scss';
